@import "variables";

.content-block-wrapper {
  padding: 50px;
  h2 {
    color: $primary-color;
  }
}

.content-block-wrapper {
  a.item-link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}