@import "variables";

.destination-content-wrapper {
  .image-content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  h1 {
    color: $primary-color;
    font-size: 40px;
  }
  .content-container {
    min-height: 282px;
  }
}