@import "variables";

.footer_wrapper {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: white;
  padding: 20px 50px;
  font-size: 14px;
}