@import "variables";

.search-widget-wrapper {
  width: 100%;
  height: 500px;
  //background: url("https://images.unsplash.com/photo-1548957175-84f0f9af659e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1361&q=80") no-repeat center -400px;
  background: url("https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    text-shadow: 1px 1px #838383;
  }
}

.search-input {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.67);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.67);
  .inputRoot {
    width: 100%;
    font-size: 20px;
  }
  .search_icon {
    padding: 5px 10px 2px 2px;
    svg {
      font-size: 35px;
      color: $primary-color;
    }
  }
}